nomad.pid*
nomad.log*
consul.log*
consul.pid*
nomad-data/alloc/*
node-id*
consul-data/checks/*
nomad-environment/nomad-data/alloc/*
nomad-environment/consul-data/checks/*
nomad-environment/consul-data/services/*
nomad-environment/nomad-data/client/*
nomad-environment/nomad-data/server/raft/*
nomad-environment/nomad-data/checkpoint-signature*
nomad-environment/nomad-data/server/serf/*
